// Colours

$pinboard: rgba(23, 47, 242, 1);
$green: rgba(95, 191, 37, 1);
$orange: rgba(244, 103, 48, 1);
$grey: rgba(65, 65, 65, 1);


// Type 

@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);



$sans : 'Muli', sans-serif;
$serif: 'Nixie One', serif;


html {
	// font-family: 'Source Sans Pro', sans-serif;
	font-family: $sans;
	font-weight: 400;
	color: $grey;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

a {
	text-decoration: none;
	&:link {
		color: $pinboard;
	}
	&:visited {
		color: desaturate($pinboard, 10%);
	}
	&:hover {
		color: saturate($pinboard, 5%);
	}
	&:focus {
		color: saturate($pinboard, 5%);
	}
	&:active {
		color: saturate($pinboard, 10%);
	}
}
header a {
	text-decoration: none;
	&:link,
	&:visited,
	&:hover,
	&:focus,
	&:active {
		color: white;
	}
}
.top a {
	text-decoration: none;
	&:link {
		color: white;
		border-bottom: 1px dotted lighten($pinboard, 80%);
	}
	&:visited {
		// color: desaturate(white, 10%);
		color: white;
		border-bottom: 1px dotted lighten($pinboard, 80%);
	}
	&:hover {
		// color: saturate(white, 5%);
		color: white;
		border-bottom: 1px dotted lighten($pinboard, 80%);
	}
	&:focus {
		// color: saturate(white, 5%);
		color: white;
		border-bottom: 1px dotted lighten($pinboard, 80%);
	}
	&:active {
		// color: saturate(white, 10%);
		color: white;
		border-bottom: 1px dotted lighten($pinboard, 80%);
	}
}


.user form a {
	text-decoration: none;
	&:link {
		color: $pinboard;
	}
	&:visited {
		color: desaturate($pinboard, 10%);
	}
	&:hover {
		color: saturate($pinboard, 5%);
	}
	&:focus {
		color: saturate($pinboard, 5%);
	}
	&:active {
		color: saturate($pinboard, 10%);
	}
}
// Animation
