@import "zen";

$zen-column-count: 12;
$zen-gutter-width: 2em;

body {
	margin: 0;
}

#main {
	clear: left;
}

.top,
.middle,
.bottom {
	max-width: 1200px;
	margin: 0 auto;
	@include zen-grid-container;
	// @include zen-grid-item(12,1);
	@include zen-clear();
}
footer {
	@include zen-clear();
	@include zen-grid-item(12,1);
}
@media screen and (max-width: 39.999em) {
	$zen-gutter-width: 1em;
	#logo {
		padding: 0.25rem;
	}
	nav {
		font-size: .625rem;
		padding: .5rem .25rem;
		a {
			margin: 0 0.5rem;
		}
	}
	.top, 
	.bottom {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.middle {
		padding-top: 2rem;
		padding-bottom: 2rem;
		blockquote {
			font-size: 1.125rem;
			line-height: 1.5;
			max-width: 98%;
			margin: 1rem 5%;
			i {
				top: -0.375rem;
			}
		} 
		.publication {
			max-width: 60%;
			margin-left:20%;
			margin-right:20%;
		}
	}
	.intro {
		@include zen-grid-item(12,1);
		@include zen-clear;
		margin-bottom: 2rem;
		h1 {
			margin: 0 0 0.25rem;
			font-size: 2.5rem;
		}
		h3 {
			margin: 0.25rem 0 1rem;
			font-size: 1rem;
			padding-bottom: .5rem;
		}
		p {
			font-size: .875rem;
		}
		ul {
			font-size: .875rem;
		}
		li {
			margin: 0.5rem 0 1rem;
			i {
				margin-right: .5rem;
			}
		}
	}
	.user {
		@include zen-grid-item(11,1.5);
		@include zen-clear;
	}
	.bottom {
		.benefit {
			@include zen-grid-item(11,1.5);
			@include zen-clear;		
			margin-bottom: 2rem;
			float: left;
		}
	}	
}
@media screen and (min-width: 40em) and (max-width: 59.999em) {
	.top, 
	.bottom {
		min-height: 60vh;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	.middle {
		min-height: 60vh;
		padding-top: 2rem;
		padding-bottom: 2rem;
		blockquote {
			font-size: 1.75rem;
			line-height: 1.5;
			max-width: 30rem;
			margin: 1rem auto;
			i {
				top: -0.25rem;
			}
		} 
		.publication {
			max-width: 22rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.intro {
		@include zen-grid-item(6.5,1);
		h1 {
			margin: 0 0 0.25rem;
			font-size: 2.5rem;
		}
		h3 {
			margin: 0.25rem 0 1rem;
			font-size: 1.25rem;
			padding-bottom: .5rem;
		}
		ul {
			font-size: 1rem;
		}
		li {
			margin: 0.5rem 0 1rem;
			i {
				margin-right: .5rem;
			}
		}
	}
	.user {
		@include zen-grid-item(4.5,8);	
	}
	.bottom {
		.benefit {
			@include zen-grid-flow-item(6);
			padding-left: 1em;
			margin-right: 0;
			margin-bottom: 2rem;
			float: left;
		}
	}		
}
@media screen and (min-width: 60em) {
	.top, 
	.bottom {
		min-height: 60vh;
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.middle {
		min-height: 60vh;
		padding-top: 3rem;
		padding-bottom: 3rem;
		blockquote {
			font-size: 2rem;
			line-height: 1.5;
			max-width: 38rem;
			margin: 1rem auto;
		} 
		.publication {
			max-width: 30rem;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.intro {
		@include zen-grid-item(7,1);
		h1 {
			margin: 0 0 0.25rem;
			font-size: 3rem;
		}
		h3 {
			margin: 0.25rem 0 1rem;
			font-size: 1.75rem;
			padding-bottom: .5rem;
		}
		ul {
			font-size: 1.375rem;
		}
		li {
			margin: 0.5rem 0 1rem;
			i {
				margin-right: .5rem;
			}
		}
	}
	.user {
		@include zen-grid-item(4,8.5);	
	}
	.bottom {
		.benefit {
			@include zen-grid-flow-item(4);
			padding-left: 1em;
			margin-right: 0;
			margin-bottom: 2rem;
			float: left;
		}
	}	
}