@import "compass/typography";
@import "init";
@import "icons";


* {
	transition:all 450ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.container {
	background-image: url("../img/noise.png");
	background-repeat: repeat;
}
#header {
	float: left;
	width: 100%;
	background: darken($pinboard, 25%);
}
#logo {
	padding: .5rem 1rem;
	float: left;
	color: white;
	img {
		width: 1rem;
	}
}
nav {
	padding: .5rem 1rem;
	float: right;
	font-size: .875rem;
	a {
		margin: 0 1rem;
	}
}
#top {
	background-color: rgba($pinboard, 0.95);
	border-top: .5rem solid darken($pinboard, 15%);
	border-bottom: .5rem solid darken($pinboard, 15%);
	color: white;
	clear: both;
}
.intro {
	h1 {
		text-shadow: 0 1px 2px darken($pinboard, 20%);
		i {
			font-size: 75% !important;
			// margin-right: -.5em !important;
		}
	}
	h3 {
		border-bottom: .5rem solid darken($pinboard, 30%);
		text-shadow: 0 1px 2px darken($pinboard, 20%);
	}
	ul {
		padding-left: 0;
		text-shadow: 0 1px 2px darken($pinboard, 20%);
	}
	li {
		list-style-type: none;
	}
}
.user {
	// border: 1px solid $pinboard;
	background: white;
	color: $grey;
	border-radius: .125rem;
	box-shadow: 0 2px 4px darken(desaturate($pinboard, 10%), 20%);
	&:hover {
		box-shadow: 0 4px 6px darken(desaturate($pinboard, 5%), 10%);
	}
	form {
		padding: .5rem 0;
	}
	.blurb {
		font-size: .75rem;
	}
}

		
button {
	background-color: $green;
	color: white;
	border: 0 !important;
	font-weight: 200;
	padding: .5rem 1rem;
	box-shadow:
		0 2px 4px rgba($grey, 0.3),
		0 -2px 2px rgba($grey, 0.3) inset
	;
	border-radius: .25rem;
	&:hover {
		color: white;
		background-color: tint($green, 5%);
		box-shadow:
			0 0 0 transparent,
			0 -1px 2px rgba($grey, 0.4) inset
		;
	}
	&:active,
	&:focus {
		color: white;
		background-color: tint($green, 10%);
	}
}
form {
	input {
		display: block;
		margin: 1rem 0 0.25rem;
		padding: .75rem;
		width: calc(100% - 1.5rem);
		border-radius: .25rem;
		border: 1px solid rgba($pinboard, 0.4);
		font-size: 16px;
	}
	select {
		display: block;
		margin: 1rem 0 0.25rem;
		width: 100%;

	}
	button {
		display: block;
		width: 80%;
		margin: 1rem 10%;
		padding: .5rem;
		font-size: 1rem;
	}
	.explanation {
		font-size: .625rem;
		text-align: left;
		display: block;
	}
	.small {
		display: block;
		color: $pinboard;
		font-size: .75rem;
		cursor: pointer;
		text-align: center;
		&.forgot {
			margin: .5rem 0;
		}
	}
}

blockquote {
	font-family: $serif;
	text-align: center;
	clear: both;
	i {
		font-size: 1rem;
		margin: 0 .25rem;
		position: relative;
		top: -.75rem;
		color: darken(white, 15%);
	}
}
.publication {
	display: block;
	text-align: right;
	padding-bottom: .5rem;
	margin-bottom: 2rem;
	font-size: .875rem;
	border-bottom: .25rem solid darken(white, 15%);
}

#bottom {
	background-color: $orange;
	border-top: .5rem solid darken($orange, 15%);
	border-bottom: .5rem solid darken($orange, 15%);
	color: white;
	background-image: url("../img/noise.png");
	background-repeat: repeat;
}
.benefit section {
	color: $grey;
	background: white;
	border-radius: .125rem;
	padding: 0.5rem 1rem;
	box-shadow: 0 2px 4px darken(desaturate($orange, 10%), 20%);
	h3 {
		color: $orange;
		padding-bottom: .5rem;
		margin-top: 0.5rem;
		border-bottom: .25rem solid tint($orange, 30%);
	}
	p {
		font-size: .875rem;
	 	line-height: 1.5; 
	 	i {
	 		margin-right: 0;
	 	}
	}
	button {
		display: block;
		width: 80%;
		margin: 2rem 10% 1rem 10%;
		padding: .5rem;
		font-size: 1rem;
	}
}
#footer {
	text-align: center;
	padding-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: .5rem solid darken($pinboard, 15%);
	h3, h5 {
		margin: 0;
	}
	.meta {
		margin: 2rem 0 1rem 0;
		font-size: .75rem;
	}
}


@import "layout";



.reason {
	.container {
		background-image: none;
	}
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
	}
	.article {
		max-width: 40em;
		margin: 0 auto;
		padding: 3em 0.5rem;
		h1 {
			font-size: 2em;
			margin-top: 0;
			padding-bottom: .5rem;
			border-bottom: .5rem solid darken(white, 15%);
		}
		h3 {
		}
		section {
			border-bottom: .25rem solid darken(white, 10%);
		}
	}
	img {
		max-width: 100%;
		margin: 0 auto;
		display: block;
		box-shadow: 0 2px 4px darken(desaturate(white, 10%), 20%);
	}
	.caption {
		margin: 1rem 0 2rem;
		display: block;
		text-align: center;
		font-size: .625rem;
		font-style: italic;
	}
}