@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Muli:300,400);
/* line 20, ../sass/_init.scss */
html {
  font-family: "Muli", sans-serif;
  font-weight: 400;
  color: #414141;
}

/* line 26, ../sass/_init.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 30, ../sass/_init.scss */
a {
  text-decoration: none;
}
/* line 32, ../sass/_init.scss */
a:link {
  color: #172ff2;
}
/* line 35, ../sass/_init.scss */
a:visited {
  color: #2339e6;
}
/* line 38, ../sass/_init.scss */
a:hover {
  color: #112af8;
}
/* line 41, ../sass/_init.scss */
a:focus {
  color: #112af8;
}
/* line 44, ../sass/_init.scss */
a:active {
  color: #0b25fe;
}

/* line 48, ../sass/_init.scss */
header a {
  text-decoration: none;
}
/* line 54, ../sass/_init.scss */
header a:link, header a:visited, header a:hover, header a:focus, header a:active {
  color: white;
}

/* line 58, ../sass/_init.scss */
.top a {
  text-decoration: none;
}
/* line 60, ../sass/_init.scss */
.top a:link {
  color: white;
  border-bottom: 1px dotted white;
}
/* line 64, ../sass/_init.scss */
.top a:visited {
  color: white;
  border-bottom: 1px dotted white;
}
/* line 69, ../sass/_init.scss */
.top a:hover {
  color: white;
  border-bottom: 1px dotted white;
}
/* line 74, ../sass/_init.scss */
.top a:focus {
  color: white;
  border-bottom: 1px dotted white;
}
/* line 79, ../sass/_init.scss */
.top a:active {
  color: white;
  border-bottom: 1px dotted white;
}

/* line 87, ../sass/_init.scss */
.user form a {
  text-decoration: none;
}
/* line 89, ../sass/_init.scss */
.user form a:link {
  color: #172ff2;
}
/* line 92, ../sass/_init.scss */
.user form a:visited {
  color: #2339e6;
}
/* line 95, ../sass/_init.scss */
.user form a:hover {
  color: #112af8;
}
/* line 98, ../sass/_init.scss */
.user form a:focus {
  color: #112af8;
}
/* line 101, ../sass/_init.scss */
.user form a:active {
  color: #0b25fe;
}

@font-face {
  font-family: 'pinboard';
  src: url("../font/pinboard.eot?35813922");
  src: url("../font/pinboard.eot?35813922#iefix") format("embedded-opentype"), url("../font/pinboard.woff?35813922") format("woff"), url("../font/pinboard.ttf?35813922") format("truetype"), url("../font/pinboard.svg?35813922#pinboard") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'pinboard';
    src: url('../font/pinboard.svg?35813922#pinboard') format('svg');
  }
}
*/
/* line 22, ../sass/_icons.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pinboard";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../sass/_icons.scss */
.icon-pinboard:before {
  content: '\e800';
}

/* '' */
/* line 54, ../sass/_icons.scss */
.icon-fast:before {
  content: '\e801';
}

/* '' */
/* line 55, ../sass/_icons.scss */
.icon-sync:before {
  content: '\e802';
}

/* '' */
/* line 56, ../sass/_icons.scss */
.icon-twitter:before {
  content: '\e803';
}

/* '' */
/* line 57, ../sass/_icons.scss */
.icon-heart:before {
  content: '\e805';
}

/* '' */
/* line 58, ../sass/_icons.scss */
.icon-private:before {
  content: '\e807';
}

/* '' */
/* line 59, ../sass/_icons.scss */
.icon-tracking:before {
  content: '\e808';
}

/* '' */
/* line 60, ../sass/_icons.scss */
.icon-github:before {
  content: '\e80a';
}

/* '' */
/* line 61, ../sass/_icons.scss */
.icon-quote-left:before {
  content: '\e80b';
}

/* '' */
/* line 62, ../sass/_icons.scss */
.icon-pay:before {
  content: '\e80e';
}

/* '' */
/* line 63, ../sass/_icons.scss */
.icon-quote-right:before {
  content: '\e80f';
}

/* '' */
/* line 66, ../sass/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'pinboard';
  font-style: normal;
  font-weight: normal;
  /* fix buttons height */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

/* line 78, ../sass/_icons.scss */
.icon-pinboard {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}

/* line 79, ../sass/_icons.scss */
.icon-fast {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}

/* line 80, ../sass/_icons.scss */
.icon-sync {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}

/* line 81, ../sass/_icons.scss */
.icon-twitter {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}

/* line 82, ../sass/_icons.scss */
.icon-heart {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;');
}

/* line 83, ../sass/_icons.scss */
.icon-private {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;');
}

/* line 84, ../sass/_icons.scss */
.icon-tracking {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;');
}

/* line 85, ../sass/_icons.scss */
.icon-github {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80a;&nbsp;');
}

/* line 86, ../sass/_icons.scss */
.icon-quote-left {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80b;&nbsp;');
}

/* line 87, ../sass/_icons.scss */
.icon-pay {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80e;&nbsp;');
}

/* line 88, ../sass/_icons.scss */
.icon-quote-right {
  *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80f;&nbsp;');
}

/* line 6, ../sass/style.scss */
* {
  transition: all 450ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

/* line 9, ../sass/style.scss */
.container {
  background-image: url("../img/noise.png");
  background-repeat: repeat;
}

/* line 13, ../sass/style.scss */
#header {
  float: left;
  width: 100%;
  background: #071582;
}

/* line 18, ../sass/style.scss */
#logo {
  padding: .5rem 1rem;
  float: left;
  color: white;
}
/* line 22, ../sass/style.scss */
#logo img {
  width: 1rem;
}

/* line 26, ../sass/style.scss */
nav {
  padding: .5rem 1rem;
  float: right;
  font-size: .875rem;
}
/* line 30, ../sass/style.scss */
nav a {
  margin: 0 1rem;
}

/* line 34, ../sass/style.scss */
#top {
  background-color: rgba(23, 47, 242, 0.95);
  border-top: 0.5rem solid #0a1cb2;
  border-bottom: 0.5rem solid #0a1cb2;
  color: white;
  clear: both;
}

/* line 42, ../sass/style.scss */
.intro h1 {
  text-shadow: 0 1px 2px #09199a;
}
/* line 44, ../sass/style.scss */
.intro h1 i {
  font-size: 75% !important;
}
/* line 49, ../sass/style.scss */
.intro h3 {
  border-bottom: 0.5rem solid #06116a;
  text-shadow: 0 1px 2px #09199a;
}
/* line 53, ../sass/style.scss */
.intro ul {
  padding-left: 0;
  text-shadow: 0 1px 2px #09199a;
}
/* line 57, ../sass/style.scss */
.intro li {
  list-style-type: none;
}

/* line 61, ../sass/style.scss */
.user {
  background: white;
  color: #414141;
  border-radius: .125rem;
  box-shadow: 0 2px 4px #111f92;
}
/* line 67, ../sass/style.scss */
.user:hover {
  box-shadow: 0 4px 6px #1124c5;
}
/* line 70, ../sass/style.scss */
.user form {
  padding: .5rem 0;
}
/* line 73, ../sass/style.scss */
.user .blurb {
  font-size: .75rem;
}

/* line 79, ../sass/style.scss */
button {
  background-color: #5fbf25;
  color: white;
  border: 0 !important;
  font-weight: 200;
  padding: .5rem 1rem;
  box-shadow: 0 2px 4px rgba(65, 65, 65, 0.3), 0 -2px 2px rgba(65, 65, 65, 0.3) inset;
  border-radius: .25rem;
}
/* line 90, ../sass/style.scss */
button:hover {
  color: white;
  background-color: #67c22f;
  box-shadow: 0 0 0 transparent, 0 -1px 2px rgba(65, 65, 65, 0.4) inset;
}
/* line 99, ../sass/style.scss */
button:active, button:focus {
  color: white;
  background-color: #6fc53a;
}

/* line 105, ../sass/style.scss */
form input {
  display: block;
  margin: 1rem 0 0.25rem;
  padding: .75rem;
  width: calc(100% - 1.5rem);
  border-radius: .25rem;
  border: 1px solid rgba(23, 47, 242, 0.4);
  font-size: 16px;
}
/* line 114, ../sass/style.scss */
form select {
  display: block;
  margin: 1rem 0 0.25rem;
  width: 100%;
}
/* line 120, ../sass/style.scss */
form button {
  display: block;
  width: 80%;
  margin: 1rem 10%;
  padding: .5rem;
  font-size: 1rem;
}
/* line 127, ../sass/style.scss */
form .explanation {
  font-size: .625rem;
  text-align: left;
  display: block;
}
/* line 132, ../sass/style.scss */
form .small {
  display: block;
  color: #172ff2;
  font-size: .75rem;
  cursor: pointer;
  text-align: center;
}
/* line 138, ../sass/style.scss */
form .small.forgot {
  margin: .5rem 0;
}

/* line 144, ../sass/style.scss */
blockquote {
  font-family: "Nixie One", serif;
  text-align: center;
  clear: both;
}
/* line 148, ../sass/style.scss */
blockquote i {
  font-size: 1rem;
  margin: 0 .25rem;
  position: relative;
  top: -.75rem;
  color: #d9d9d9;
}

/* line 156, ../sass/style.scss */
.publication {
  display: block;
  text-align: right;
  padding-bottom: .5rem;
  margin-bottom: 2rem;
  font-size: .875rem;
  border-bottom: 0.25rem solid #d9d9d9;
}

/* line 165, ../sass/style.scss */
#bottom {
  background-color: #f46730;
  border-top: 0.5rem solid #cd410b;
  border-bottom: 0.5rem solid #cd410b;
  color: white;
  background-image: url("../img/noise.png");
  background-repeat: repeat;
}

/* line 173, ../sass/style.scss */
.benefit section {
  color: #414141;
  background: white;
  border-radius: .125rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 4px #ab3e13;
}
/* line 179, ../sass/style.scss */
.benefit section h3 {
  color: #f46730;
  padding-bottom: .5rem;
  margin-top: 0.5rem;
  border-bottom: 0.25rem solid #f7946e;
}
/* line 185, ../sass/style.scss */
.benefit section p {
  font-size: .875rem;
  line-height: 1.5;
}
/* line 188, ../sass/style.scss */
.benefit section p i {
  margin-right: 0;
}
/* line 192, ../sass/style.scss */
.benefit section button {
  display: block;
  width: 80%;
  margin: 2rem 10% 1rem 10%;
  padding: .5rem;
  font-size: 1rem;
}

/* line 200, ../sass/style.scss */
#footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 0.5rem solid #0a1cb2;
}
/* line 205, ../sass/style.scss */
#footer h3, #footer h5 {
  margin: 0;
}
/* line 208, ../sass/style.scss */
#footer .meta {
  margin: 2rem 0 1rem 0;
  font-size: .75rem;
}

/* line 6, ../sass/_layout.scss */
body {
  margin: 0;
}

/* line 10, ../sass/_layout.scss */
#main {
  clear: left;
}

/* line 16, ../sass/_layout.scss */
.top,
.middle,
.bottom {
  max-width: 1200px;
  margin: 0 auto;
  *position: relative;
  *zoom: 1;
  clear: left;
}
/* line 46, ../../../.compass/extensions/zen-grids/stylesheets/zen/_grids.scss */
.top:before, .top:after,
.middle:before,
.middle:after,
.bottom:before,
.bottom:after {
  content: "";
  display: table;
}
/* line 50, ../../../.compass/extensions/zen-grids/stylesheets/zen/_grids.scss */
.top:after,
.middle:after,
.bottom:after {
  clear: both;
}

/* line 23, ../sass/_layout.scss */
footer {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 1em;
  padding-right: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  _display: inline;
  _overflow: hidden;
  _overflow-y: visible;
}

@media screen and (max-width: 39.999em) {
  /* line 29, ../sass/_layout.scss */
  #logo {
    padding: 0.25rem;
  }

  /* line 32, ../sass/_layout.scss */
  nav {
    font-size: .625rem;
    padding: .5rem .25rem;
  }
  /* line 35, ../sass/_layout.scss */
  nav a {
    margin: 0 0.5rem;
  }

  /* line 40, ../sass/_layout.scss */
  .top,
  .bottom {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* line 44, ../sass/_layout.scss */
  .middle {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /* line 47, ../sass/_layout.scss */
  .middle blockquote {
    font-size: 1.125rem;
    line-height: 1.5;
    max-width: 98%;
    margin: 1rem 5%;
  }
  /* line 52, ../sass/_layout.scss */
  .middle blockquote i {
    top: -0.375rem;
  }
  /* line 56, ../sass/_layout.scss */
  .middle .publication {
    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  /* line 62, ../sass/_layout.scss */
  .intro {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
    margin-bottom: 2rem;
  }
  /* line 66, ../sass/_layout.scss */
  .intro h1 {
    margin: 0 0 0.25rem;
    font-size: 2.5rem;
  }
  /* line 70, ../sass/_layout.scss */
  .intro h3 {
    margin: 0.25rem 0 1rem;
    font-size: 1rem;
    padding-bottom: .5rem;
  }
  /* line 75, ../sass/_layout.scss */
  .intro p {
    font-size: .875rem;
  }
  /* line 78, ../sass/_layout.scss */
  .intro ul {
    font-size: .875rem;
  }
  /* line 81, ../sass/_layout.scss */
  .intro li {
    margin: 0.5rem 0 1rem;
  }
  /* line 83, ../sass/_layout.scss */
  .intro li i {
    margin-right: .5rem;
  }

  /* line 88, ../sass/_layout.scss */
  .user {
    float: left;
    width: 91.66667%;
    margin-left: 4.16667%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
  }

  /* line 93, ../sass/_layout.scss */
  .bottom .benefit {
    float: left;
    width: 91.66667%;
    margin-left: 4.16667%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    clear: left;
    margin-bottom: 2rem;
    float: left;
  }
}
@media screen and (min-width: 40em) and (max-width: 59.999em) {
  /* line 103, ../sass/_layout.scss */
  .top,
  .bottom {
    min-height: 60vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* line 108, ../sass/_layout.scss */
  .middle {
    min-height: 60vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  /* line 112, ../sass/_layout.scss */
  .middle blockquote {
    font-size: 1.75rem;
    line-height: 1.5;
    max-width: 30rem;
    margin: 1rem auto;
  }
  /* line 117, ../sass/_layout.scss */
  .middle blockquote i {
    top: -0.25rem;
  }
  /* line 121, ../sass/_layout.scss */
  .middle .publication {
    max-width: 22rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 127, ../sass/_layout.scss */
  .intro {
    float: left;
    width: 54.16667%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  /* line 129, ../sass/_layout.scss */
  .intro h1 {
    margin: 0 0 0.25rem;
    font-size: 2.5rem;
  }
  /* line 133, ../sass/_layout.scss */
  .intro h3 {
    margin: 0.25rem 0 1rem;
    font-size: 1.25rem;
    padding-bottom: .5rem;
  }
  /* line 138, ../sass/_layout.scss */
  .intro ul {
    font-size: 1rem;
  }
  /* line 141, ../sass/_layout.scss */
  .intro li {
    margin: 0.5rem 0 1rem;
  }
  /* line 143, ../sass/_layout.scss */
  .intro li i {
    margin-right: .5rem;
  }

  /* line 148, ../sass/_layout.scss */
  .user {
    float: left;
    width: 37.5%;
    margin-left: 58.33333%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 152, ../sass/_layout.scss */
  .bottom .benefit {
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    width: 50%;
    padding-left: 0;
    padding-right: 0.5em;
    margin-right: 0.5em;
    padding-left: 1em;
    margin-right: 0;
    margin-bottom: 2rem;
    float: left;
  }
}
@media screen and (min-width: 60em) {
  /* line 163, ../sass/_layout.scss */
  .top,
  .bottom {
    min-height: 60vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /* line 168, ../sass/_layout.scss */
  .middle {
    min-height: 60vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  /* line 172, ../sass/_layout.scss */
  .middle blockquote {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 38rem;
    margin: 1rem auto;
  }
  /* line 178, ../sass/_layout.scss */
  .middle .publication {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 184, ../sass/_layout.scss */
  .intro {
    float: left;
    width: 58.33333%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  /* line 186, ../sass/_layout.scss */
  .intro h1 {
    margin: 0 0 0.25rem;
    font-size: 3rem;
  }
  /* line 190, ../sass/_layout.scss */
  .intro h3 {
    margin: 0.25rem 0 1rem;
    font-size: 1.75rem;
    padding-bottom: .5rem;
  }
  /* line 195, ../sass/_layout.scss */
  .intro ul {
    font-size: 1.375rem;
  }
  /* line 198, ../sass/_layout.scss */
  .intro li {
    margin: 0.5rem 0 1rem;
  }
  /* line 200, ../sass/_layout.scss */
  .intro li i {
    margin-right: .5rem;
  }

  /* line 205, ../sass/_layout.scss */
  .user {
    float: left;
    width: 33.33333%;
    margin-left: 62.5%;
    margin-right: -100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }

  /* line 209, ../sass/_layout.scss */
  .bottom .benefit {
    padding-left: 0.5em;
    padding-right: 0.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
    width: 33.33333%;
    padding-left: 0;
    padding-right: 0.66667em;
    margin-right: 0.33333em;
    padding-left: 1em;
    margin-right: 0;
    margin-bottom: 2rem;
    float: left;
  }
}
/* line 220, ../sass/style.scss */
.reason .container {
  background-image: none;
}
/* line 223, ../sass/style.scss */
.reason h1, .reason h2, .reason h3, .reason h4, .reason h5, .reason h6 {
  font-weight: 700;
}
/* line 226, ../sass/style.scss */
.reason .article {
  max-width: 40em;
  margin: 0 auto;
  padding: 3em 0.5rem;
}
/* line 230, ../sass/style.scss */
.reason .article h1 {
  font-size: 2em;
  margin-top: 0;
  padding-bottom: .5rem;
  border-bottom: 0.5rem solid #d9d9d9;
}
/* line 238, ../sass/style.scss */
.reason .article section {
  border-bottom: 0.25rem solid #e6e6e6;
}
/* line 242, ../sass/style.scss */
.reason img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
  box-shadow: 0 2px 4px #cccccc;
}
/* line 248, ../sass/style.scss */
.reason .caption {
  margin: 1rem 0 2rem;
  display: block;
  text-align: center;
  font-size: .625rem;
  font-style: italic;
}
